body {
  margin: 0px;
}

div#infoPanel {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all .5s ease-out;
  z-index: 20;
}

div.hiddenInfo {
  left: 100% !important;
}

.hidden {
  height: 50px !important;
  right: 0px !important;
  border-radius: 5px 0px 0px 5px !important;
}

.unavailable {
  right: -25px !important;
}

button::-moz-focus-inner {
  border: 0;
}

#toggleInfoPanel {
  position: fixed;
  top: 5px;
  width: 25px;
  height: 25px;
  background-color: black;
  border: none;
  z-index: 15;
  right: 5px;
  border-radius: 5px;
  transition: all .35s ease;
  color: white;
  padding-left: 0px;
  padding-right: 1.5px;
  padding-bottom: 3px;
  font-weight: bold;
}

#toggleInfoPanel:hover {
  background-color: grey;
}

#infoBackground {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(141deg,#0c0c0c 35%, #000000 70%);
  opacity: .75;
}

#infoText{
  position: absolute;
  opacity: 1;
}

#mapContainer
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0px;
}

#mapid {
  width: 100%;
  height:  100%;
}

.stopScrolling {
  height: 0;
  overflow: hidden;
}

div#date {
  position: fixed;
  top: 5px;
  right: 35px;
  font-size: 20px;
  font-family: 'Courier';
  font-weight: bold;
  transition: all .5s ease-out;
  max-width: 35%;
}

div.hiddenDate {
  top:-100px !important;
}

#intro {
  height: 200vh;
  z-index: 15;
  background: linear-gradient( 180deg,#130000 50%, #73b6e6e6 90%, transparent 100%);
}

#scroller {
  margin: 5px;
}

#outro {
  height: 200vh;
  z-index: 15;
  background: linear-gradient( 360deg, #fffff6 50% , #73b6e6e6 90%,transparent 100%);
}

.toScroll {
  margin-bottom: 75vh;
}

.title {
  font-family: 'Courier';
  font-size: 32px;
  font-weight: bold;
  max-width: 60%;
}

.step {
  opacity: 0;
}

.redCircle {
  z-index: 100;
  transition: opacity 2s ease-out;
}

.hiddenCircle {
  opacity: 0;
}