<% include ../partials/header.ejs %>
<div id="infoPanel">
  <button id="toggleInfoPanel" class="hidden"></button>
  <div id="infoBackground"></div>
  <div id="infoText">
  </div>
</div>

<div id="mapContainer">
  <div id='mapid'></div>
</div>
<div id="content">
  <div id="intro">

  </div>
  <div id="scroller">
    <% var i; for(i = 0; i < data.length; i++) { %>
    <section class='step toScroll title'><%= data[i].name %></section>
    <%
    }
    %>
  </div>
  <div id="outro">

  </div>
</div>

<script>
  const data = <%- JSON.stringify(data) %>;
  var mymap = L.map('mapid').setView(getCoordinate(data[0].location),8);
  mymap.touchZoom.disable();
  mymap.scrollWheelZoom.disable();
  mymap.doubleClickZoom.disable();
  mymap.zoomControl.disable();
  mymap.dragging.disable();
  mymap.keyboard.disable();
  mymap.boxZoom.disable();
  document.getElementsByClassName('leaflet-control-zoom')[0].style.visibility = 'hidden';
  

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiYWxhaW5oYXJkeSIsImEiOiJjamEwdWVveXE4ZmUwMzNweTc3Y3M2YXAzIn0.AAD0RPr99q21ifRDZPQ9yw'
}).addTo(mymap);

/*
var circle = L.circle(getCoordinate(data[0].location), {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 10000,
    className: 'pearlharbour-data redCircle'
}).addTo(mymap);*/

  L.circle(getCoordinate(data[0].location), {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5,
      radius: 10000,
      className: 'pearlharbour-data redCircle'
  }).addTo(mymap);

  let scrollingPosition;

  function showInfo() {
    console.log('showInfo()');
    var pnl = document.getElementById('infoPanel');
    document.getElementById('toggleInfoPanel').classList.remove('hidden'); 
    pnl.style.left = '0px';
    document.getElementById('toggleInfoPanel').onclick = hideInfo;

    scrollingPosition = [window.pageXOffset, window.pageYOffset];
    document.getElementById('content').classList.add('stopScrolling');
  }

  function hideInfo() {
    console.log('hideInfo()');
    document.getElementById('content').classList.remove('stopScrolling');
    window.scrollTo(scrollingPosition[0], scrollingPosition[1]);
    
    var pnl = document.getElementById('infoPanel');
    document.getElementById('toggleInfoPanel').classList.add("hidden"); 
    pnl.style.left = "100%";
    document.getElementById('toggleInfoPanel').onclick = showInfo;
  }

  function hideAllStep(except) {
    for(let i = 0; i < sections.size(); i++) {
      if(i !== except) {
        let top = sections._groups[0][i].style.opacity = 0;
      }
    }
  }
  
  document.getElementById('toggleInfoPanel').onclick = showInfo;
  document.onkeypress = (e) => {
    console.log(e.keyCode);
    if(e.keyCode == 27) {
      hideInfo();
    }
  };

  function getCoordinate(location) {
    let ltd = location.latitude;
    let lng = location.longitude;
    if (lng >= 0) {
      lng = lng % 360;
    } else {
      while(lng < 0) {
        lng += 360;
      }
    }
    
    return [ltd, lng];
  }


  //-A Start---------------------------------------------------------
  let sectionPositions = [];
  let sections = d3.selectAll('.step');
  let containerStart = [];
  let currentIndex = 0;

  //function resize() {
    let startPos;

    /*sections.forEach(function(element) {
      let top = this.getBoundingClientRect();

      if(i === 0) {
        startPos = top;
      }
      sectionPositions.push(tsop-startPos);
    }, this);*/

    for(let i = 0; i < sections.size(); i++) {
      let top = sections._groups[0][i].getBoundingClientRect().top + window.pageYOffset;

      if(i === 0) {
        startPos = top;
      }
      sectionPositions.push(top);
    }
  //}

  d3.select(window).on('scroll.scroller', position);

  let dispatch = d3.dispatch("active", "progress");

  function position() {
    let bottomMargin = 50;
    let topMargin = 150;
    let pos = window.pageYOffset;
    let top = window.pageYOffset; //0 - document.getElementById('scroller').getBoundingClientRect().top;
    //let sectionIndex = d3.bisect(sectionPositions, pos);
    
    let sectionIndex = sectionPositions.findIndex( (a) => {
      return a > top - window.innerHeight*0.11 && a < top + window.innerHeight*0.51;
    });
    
    hideAllStep(sectionIndex);

    if (sectionIndex === -1) {
      return;
    }

    if(pos + window.innerHeight * .5 > sectionPositions[sectionIndex] && pos - window.innerHeight * .1 <= sectionPositions[sectionIndex]) {
      let opacity = 1 - (sectionPositions[sectionIndex] - pos - 1) / (window.innerHeight*0.3*0.9);
      sections._groups[0][sectionIndex].style.opacity = opacity;
    }


    let a = sectionPositions[sectionIndex];

    if (currentIndex !== sectionIndex && a > top - topMargin && a < top + bottomMargin) {
      dispatch.call('active', this, sectionIndex);
      currentIndex = sectionIndex;
    }
  /*
    let prevIndex = Math.max(sectionIndex - 1, 0);
    let prevTop = sectionPositions[prevIndex];
    let progress = (pos - prevTop) / (sectionPositions[sectionIndex] - prevTop);
    dispatch.call('progress', this, currentIndex, progress);*/
  }

  scroll.on = function (action, callback) {
    dispatch.on(action, callback);
  };

  activateFunctions = [];
  activateFunctions[0] = showPearlHarbour;
  activateFunctions[1] = showCoralSea;
  activateFunctions[2] = showMidway;
  activateFunctions[3] = showSavoIsland
  activateFunctions[4] = showGuadalcanal;
  activateFunctions[5] = showPhilippineSea;
  activateFunctions[6] = showLeyteGulf;
  activateFunctions[7] = showOpTenGo;
  activateFunctions[8] = showOkinawa;

  scroll.on('active', function(index){
    activateFunctions[index]();
  });

  function showPearlHarbour() {
    console.log('pearl harbour');
    mymap.flyTo(getCoordinate(data[0].location),8);
  }
  
  function showCoralSea() {
    console.log('coral sea');
    mymap.flyTo(getCoordinate(data[1].location),5);
  }
  
  function showMidway() {
    console.log('midway');
    mymap.flyTo(getCoordinate(data[2].location),5);
  }

  function showSavoIsland() {
    console.log('savo island');
    mymap.flyTo(getCoordinate(data[3].location),5);
  }
  
  function showGuadalcanal() {
    console.log('guadalcanal');
    mymap.flyTo(getCoordinate(data[4].location),5);
  }
  
  function showPhilippineSea() {
    console.log('philippine sea');
    mymap.flyTo(getCoordinate(data[5].location),5);
  }
  
  function showLeyteGulf() {
    console.log('Leyte gulf');
    mymap.flyTo(getCoordinate(data[6].location),5);
  }
  
  function showOpTenGo() {
    console.log('operation ten go');
    mymap.flyTo(getCoordinate(data[7].location),5);
  }
  
  function showOkinawa() {
    console.log('okinawa');
    mymap.flyTo(getCoordinate(data[8].location),5);
  }


  //-A End-----------------------------------------------------------
</script>



<% include ../partials/footer.ejs %>